altgraph==0.17
colored==1.4.2
Gooey==1.0.8
importlib-metadata==3.7.3
macholib==1.14
numpy==1.20.1
Pillow==8.3.2
psutil==5.8.0
pygtrie==2.4.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
six==1.15.0
typing-extensions==3.7.4.3
wxPython==4.1.0
zipp==3.4.1
